CORS_ORIGINS=http://localhost,http://127.0.0.1

# -----------
# Database
# -----------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db
DB_USER=user_write
DB_PASSWORD=user_write

# -----------
# JWT
# -----------
JWT_SECRET_KEY=your-super-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30